<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font imports -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/11e7f72fa6.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/main.css">
    <link rel="stylesheet" type="text/css" href="landing-styles.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page-wrapper">
      <!-- START Page Info Section -->
      <div class="left-group">
        <div class="site-info-wrap">
          <div class="site-info">
            <h1>Laura Renee Mehl</h1>
            <h2>Website Coming Soon!</h2>
            <div class="contact-links">
              <a href="http://link">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="http://link" target="blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="http://link" target="blank">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Page info section -->

        <!-- Start Picture gallery section -->
        <div class="gallery-wrap">
          <img src="images/gallery.jpg" alt="">
        </div>
      </div>

      <!-- Start headshot section -->
      <div class="headshot-wrapper">
        <img src="images/headshot.jpg" alt="">
      </div>
    </div>  
  </body>
</html>